<launch>
    <arg name="paused" default="true"/>
    <arg name="gui" default="true"/>

    <include file="$(find bobble_controllers)/launch/bobble_balance_state_hold.launch">
        <arg name="paused" value="$(arg paused)"/>
    </include>

  <test test-name="SimPlots_Test" pkg="bobble_controllers" type="SimPlots_Test.py" time-limit="30.0">
      <param name="using_gui" value="$arg gui"/>
  </test>
</launch>