<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bobble_chassis">

	<link name="bobble_chassis_link">
  		<inertial>
	  		<origin xyz="0.0 0.0 0.180" rpy="0.0 0.0 0.0"/>
  	  		<mass value="2.043"/>
	  		<inertia ixx="0.03" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.03"/>
		</inertial>
		<visual>
	  		<origin xyz="0.0 0.0 0.130" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.11 0.185"/>
            </geometry>
   		</visual>
		<collision>
	  		<origin xyz="0.0 0.0 0.130" rpy="0.0 0.0 0.0"/>
            <geometry>
              <box size="0.1 0.11 0.185" />
            </geometry>
			<contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
		</collision>
	</link>

	<gazebo reference="bobble_chassis_link">
		<selfCollide>false</selfCollide>
	</gazebo>

	</xacro:macro>

</robot>
