<?xml version="1.0"?>

<robot name="bobblebot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find bobble_controllers)/test/xacro/bobble_chassis.urdf.xacro" />
  <xacro:include filename="$(find bobble_controllers)/test/xacro/bno055_imu.urdf.xacro" />
  <xacro:include filename="$(find bobble_controllers)/test/xacro/left_wheel.urdf.xacro" />
  <xacro:include filename="$(find bobble_controllers)/test/xacro/right_wheel.urdf.xacro" />

  <xacro:bobble_chassis>
  </xacro:bobble_chassis>
  <xacro:bno055_imu parent="bobble_chassis_link">
  </xacro:bno055_imu>
  <xacro:left_wheel parent="bobble_chassis_link">
  </xacro:left_wheel>
  <xacro:right_wheel parent="bobble_chassis_link">
  </xacro:right_wheel>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so" >
      <robotNamespace>/bobble</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <controlPeriod>0.002</controlPeriod>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
    <plugin name='gazebo_ros_imu' filename='libhector_gazebo_ros_imu.so'>
      <alwaysOn>true</alwaysOn>
      <updateRate>200.0</updateRate>
      <bodyName>bno055_imu_link</bodyName>
      <topicName>/imu_bosch/data_raw</topicName>
      <gaussianNoise>0.02</gaussianNoise>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

</robot>
